$darkGray: #0c0b0b;
$white: #fff;
$blue: rgb(32, 123, 241);
$blueTrans:rgba(32, 123, 241, 0.3);
$blueTrans2:rgba(32, 123, 241, 0.7);
$darkBlue:rgb(4, 88, 199);
$transp: rgba(0, 0, 0, 0.8);
$black: #000;
$redTrans: rgba(255, 0, 0, 0.5);